*.obj
*.o
*.so
*.dll
*.dsw
*.dsp
*.dep
*.opt
*.lib
*.idb
*.jar
*.jpr*
*.jpx*
*.trc
*.tar
*.gz
*.swp
*.log
.cdtbuild
.cdtproject
.project
logs
com_syrus_AMFICOM_analysis_CoreAnalysisManager.h
com_syrus_AMFICOM_analysis_dadara_ModelFunction.h
com_syrus_AMFICOM_analysis_dadara_ReflectogramEvent.h
